.card {
  height: 115px;
}

.cardLink{
  color: var(--bs-body-color);
  text-decoration: none;
}

.cardLink:hover .card {
  background-color: var(--bs-body-color);
  color: var(--bs-light);
}

.card__add{
  cursor: pointer;
  text-align: center;
}

.card__add:hover {
  background-color: var(--bs-body-color);
  color: var(--bs-light);
}


.card__add--icon{
  font-size: 50px;
}

.card__add b{
  font-size: 18px;
}